{%load static %}

<footer class="bg-success text-light py-2 mt-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'img/club/logomedio.png' %}" class="rounded-3" class="img-fluid">
          <p>Derechos reservados &copy; 2023</p>
        </div>
        <div class="col-md-4">
          <h5>Contacto</h5>
          <p>Teléfono: +57 301 2141185</p>
          <p>Correo electrónico: clubdeportivomorichalcali@gmail.com</p>
          <p>Dirección: Cali, Colombia</p>
        </div>
        <div class="col-md-4">
          <h5>Redes sociales</h5>
          <ul class="list-unstyled">
            <li class="d-flex justify-content-between">
              <a href="https://www.facebook.com/clubdeportivomorichalcali" target="_blank"><i class="fab fa-facebook" style="color:white"></i></a>
            <a href="https://www.twitter.com/tu-cuenta-de-twitter" target="_blank"><i class="fab fa-twitter" style="color:white"></i></a>
            <a href="https://www.instagram.com/https://instagram.com/clubdeportivomorichal"target="_blank"><i class="fab fa-instagram" style="color:white"></i></a>
            <a href="https://www.linkedin.com/tu-página-de-linkedin" target="_blank"><i class="fab fa-linkedin" style="color:white"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/292e7a886b.js" crossorigin="anonymous"></script>
    </body>
