{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}
<section class="carrusel">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" class="img-fluid">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/club/imagen1.jpg' %}" class="mx-auto d-block w-5 img-fluid">
            <div class="carousel-caption d-none d-md-block">
              <h5>Somos deportistas aportando al deporte</h5>
              <p>Ven y conocenos te esperamos en Cali vive tu experiencia</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/club/imagen3.jpg' %}" class="mx-auto d-block w-5" alt="grupo_patinaje">
            <div class="carousel-caption d-none d-md-block">
              <h5>grupo de ganadores</h5>
              <p>Siempre estamos entre los mejores</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/club/imagen4.jpg' %}" class="mx-auto d-block w-20" alt="pista_patinaje">
            <div class="carousel-caption d-none d-md-block">
              <h5>Nuestras sedes</h5>
              <p>tenemos Patinaje y Natacion</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>


<section class="nosotros">
    <h2 class="text-center">Quienes somos</h2>
    <div class= "container"> 
    <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                   VISION. <span class="text-muted">Te dejará boquiabierto.</span>
                </h2>
                <p class="lead">
                  Obtener el mayor número de deportistas cada año pertenecientes 
                  a las selecciones Cali, Valle y Colombia y estos a su vez obtengan 
                  grandes logros para nuestro país y nuestra región.<br> 

                  La visión es un elemento básico como INDICADOR DE GESTIÓN para nuestra organización.
                 Nuestro reto no solo es formar deportistas, sino niños y jóvenes, que aprendan a tener amor propio y fundamentalmente inculcar los valores como persona y un ciudadano útil para la sociedad.<br> 
                </p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" src="{% static 'img/club/vision.jpg' %}" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
            </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    MISION.<span class="text-muted"> Míralo tú mismo.</span>
                </h2>
                <p class="lead">
                  El CLUB DEPORTIVO MORICHAL, se fundamenta en la formación básica de patinaje y el desarrollo humano integral. Nuestro mayor compromiso, es ser una escuela incluyente, donde nuestros niños, niñas y jóvenes del municipio desarrollen actividades con sentido lúdico, teniendo en cuenta el concepto individual y de conjunto, con énfasis en formación para la vida, que nos permita contar con deportistas elite de alto rendimiento y personas excepcionales. 
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" src="{% static 'img/club/mision1.jpg' %}" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false" aling="left" style="margin-right: 10px;">
                    <title>Placeholder</title>
            </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    Y por último, este. <span class="text-muted">Jaque mate.</span>
                </h2>
                <p class="lead">
                  <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                  height="500" src="{% static 'img/club/morchico.jpg' %}" role="img" aria-label="Placeholder: 500x500"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                </p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" src="{% static 'img/club/ganadores.jpg' %}" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                </div>
        </div>
        <hr class="featurette-divider" />
</section>           

{% endblock contenido %}


